<!DOCTYPE html>
<html lang="en" xmlns:th="http://ww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>How to...Dual Boot Windows and Linux</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:insert="HowToMain :: navB" >

</div>
<div>
    <h1>How to... Dual Boot Windows and Linux Mint</h1>
    <short>by Joe</short>
    <h5>There are many benefits to having multiple operating systems available on your computer.
        This guide will teach you how to install the most current versions of Windows and Linux Mint on a computer that
        already has Windows 10 installed. Make sure you have an 8GB USB available that you don't mind having wiped.</h5>

    <div class="media">
        <a class="mr-0"
           href="https://www.wikihow.com/images/thumb/3/38/Dual-Boot-Windows-10-and-Ubuntu-16.04-Step-1.jpg/v4-760px-Dual-Boot-Windows-10-and-Ubuntu-16.04-Step-1.jpg.webp"
           role="button" data-toggle="modal">
            <img src="https://www.wikihow.com/images/thumb/3/38/Dual-Boot-Windows-10-and-Ubuntu-16.04-Step-1.jpg/v4-760px-Dual-Boot-Windows-10-and-Ubuntu-16.04-Step-1.jpg.webp"
                 class="mr-1"
                 width="64"
                 height="64"
                 alt="step1">
        </a>
        <div class="media-body bg-secondary">
            <h5 class="mt-0">Part 1 of 4</h5>
            <i>Getting the Computer Ready for Installation...</i>
            <br>
            <b>Back up first</b>, if desired. If you have any important files that you want to make sure do not get deleted,
            get a hold of some external storage like an external hard drive and copy all of those files over to the
            external hard drive.

            <div class="media mt-3">
                <a class="mr-3" href="#">
                    <img src="..." class="mr-3" alt="...">
                </a>
                <div class="media-body">
                    <h5 class="mt-0">Media heading</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>